<section aria-labelledby="sponsors-heading" class="c-sponsors" id="sponsors">
  <h2 id="sponsors-heading" class="c-sponsors__title">Our Sponsors</h2>

  <div class="c-sponsors__viewport">
    
    <ul class="c-sponsors__track" id="logo-track-1" role="list">
      {% for sponsor in sponsors %}
      <li class="c-sponsors__item">
        <img
          eleventy:ignore
          src="{{ sponsor.src }}"
          alt="{{ sponsor.alt }}"
          width="120" 
          height="32"
          loading="lazy"
          decoding="async"
          class="c-sponsors__img"
        />
      </li>
      {% endfor %}
    </ul>

    <ul class="c-sponsors__track" id="logo-track-2" role="list" aria-hidden="true" tabindex="-1">
      {% for sponsor in sponsors %}
      <li class="c-sponsors__item">
        <img
          eleventy:ignore
          src="{{ sponsor.src }}"
          alt=""
          width="120"
          height="32"
          loading="lazy"
          decoding="async"
          class="c-sponsors__img"
        />
      </li>
      {% endfor %}
    </ul>
    
  </div>
</section>
