---
layout: layouts/base.html
title: nexus
styles: 
- /scss/components.css

scripts:
- /js/animation.js
- /js/testimonials.js
---
{% include "components/navbar.html" %}
{% include "components/hero.html" %}
{% include "components/sponsors.html" %}
{% include "components/cards.html" %}
<header class="header-title flex flex-wrap justify-between items-center my-20">
	<h3 class="text-7xl font-bold">AGENDA</h3>
	<p>
	October 15-17, 2052 | Horizon <br/> Convention Center, Amesterdam
	</p>
</header>

{% include "components/agenda.html" %}
	<header class="header-title flex flex-wrap justify-between items-center my-20">
		<h3 class="text-7xl font-bold">KEYNOTES <br/>SPEAKERS</h3>
		<p>
		Meet the Industry leaders<br/> shaping the future of AI.
		</p>
	</header>

{% include "components/team.html" %}
	<button class="flex p-5 border-1 border-white rounded-card gap-3">
		<span>And more</span>
		<img eleventy:ignore src="/assets/images/union-1.svg" alt="arrow up right"/>
	</button>

		<header class="header-title flex flex-wrap justify-between items-center my-10">
		<h3 class="text-7xl font-bold">WHY ATTEND ?</h3>
		<p>
		Discover why Next-Gen AI <br/> Summit is the must-attend event <br/>for AI professionals, innovators, <br/> and industry leaders.

		</p>
	</header>

{% include "components/attend.html" %}
{% include "components/testimonials.html" %}
{% include "components/ticketoptions.html" %}
{% include "components/contactform.html" %}
{% include "components/footer.html" %}


