---
layout: layouts/base.html
title: nexus
name: mehdi
tags:
- ai
- event
- summit
- gen
- ai event summit
- advance
- speaking
- speakers
- mehdi
- abbane
- mehdi abbane
- mahdi
- aban
- mahdi abbane
- mahdi abban
- mahdi aban
- mehdi aban
- mehdi abbane
- AI
- Artificial Intilligence
- Event
- AI Summit
- chatGPT
- OpenAI
styles: 
- /scss/navbar.css
- /scss/hero.css
- /scss/sponsors.css
- /scss/speakers.css
- /scss/agenda.css
- /scss/why-attend.css
- /scss/testimonials.css
- /scss/tickets.css
- /scss/contact.css
- /scss/footer.css
scripts:
- /js/testimonials.js
- /js/animation.js
- /js/navbar.js
---
{% include "components/navbar.html" %}
{% include "components/hero.html" %}
{% include "components/sponsors.html" %}
{% include "components/agenda.html" %}
{% include "components/speakers.html" %}
{% include "components/why-attend.html" %}
{% include "components/testimonials.html" %}
{% include "components/tickets.html" %}
{% include "components/contact.html" %}
{% include "components/footer.html" %}
