<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ title or site.name }}</title>

<link rel="stylesheet" href="/scss/main.css">
<link rel="stylesheet" href="/scss/reset.css">
<link rel="canonical" href="{{ site.url }}{{ page.url | url }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap" rel="stylesheet">

<link rel="icon" href="/assets/images/B1.svg">

<link rel="sitemap" type="application/xml" href="/sitemap.xml">
<link rel="alternate" type="application/rss+xml" href="/feed.xml">
<meta name="robots" content="index, follow">
<meta name="google-site-verification" content="0etA9TIaJboI7Bzp7m6-F1TWWjvCYk7L3FSRbJFL4bk" />
